@import '../../variables';

:host {
    display:block;
    background-color: $gray-dark;
    width:100%;
    position:relative;
    z-index: 6;
}

a {
    font-family: $headings-font-family;
    color: rgba(255, 255, 255, 0.5);
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}