<sebm-google-map 
  [latitude]="location.lat"
  [longitude]="location.lng"
  [styles]="style"
  [zoom]="location.zoom_level"
  [mapDraggable]="false"
  [disableDefaultUI]="true"
  [disableDoubleClickZoom]="true"
  [scrollwheel]="false"
  [zoomControl]="false"
  [streetViewControl]="false"
  *ngIf="location">
  <sebm-google-map-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="location.icon"></sebm-google-map-marker>
</sebm-google-map>

<div *ngIf="location">{{location.icon}}</div>