@import '../../variables';

.navbar-brand {
    padding: 0px;
  height: 80px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $headings-font-family;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}