@import '../../variables';

.navbar-brand {
  $height: 3rem;
  height: $height;
  margin: ($navbar-height - $height) / 2;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.nav >li >a {
  $nav-link-padding: 0.425rem; // this is hardcoded in bootstrap scss (navbar)
  font-family: $headings-font-family;
  margin-top: ($navbar-height - ($line-height-base + $nav-link-padding * 2))/2;
}

.navbar-toggler {
  $toggler-line-height: 1rem; // this is hardcoded in bootstrap scss (navbar)
  $toggler-padding: 0.5rem; // this is hardcoded in bootstrap scss (navbar)
  color: $gray-lighter;
  border: none;
  margin-top: 0.875rem;
  margin-top: ($navbar-height - ($toggler-line-height + $toggler-padding * 2))/2;
}

.collapse.in {
    width: 100%;
    clear: both;
    text-align: center;
    .navbar-nav .nav-item{
        +.nav-item{
            margin-left: 0;
        }
    }
}