@import '../../variables';

.navbar-brand {
  margin: 0.5rem;
  height: 3rem;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.nav >li >a {
  font-family: $headings-font-family;
  margin-top: .825rem;
}

.navbar-toggler {
  color: $gray-lighter;
  border: none;
  margin-top: 0.875rem;
}

.collapse.in {
    width: 100%;
    clear: both;
    text-align: center;
    .navbar-nav .nav-item{
        +.nav-item{
            margin-left: 0;
        }
    }
}